---
- name: Enable Flathub repository
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
  become: true

- name: Install Flatpak applications
  community.general.flatpak:
    name: "{{ flatpak_apps }}"
    state: present
  become: true
