---
- name: Ensure Flatpak is installed
  ansible.builtin.dnf:
    name: flatpak
    state: present
  become: true

- name: Enable Flathub repository
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
  become: true

- name: Install Flatpak applications
  community.general.flatpak:
    name: "{{ flatpak_apps }}"
    state: present
  become: true
  register: flatpak_install
  failed_when: false

- name: Display Flatpak installation results
  ansible.builtin.debug:
    msg: "Flatpak apps installed. Note: Some apps may not be available on Flathub."
  when: flatpak_install is defined
