---
- name: Install DNF packages
  ansible.builtin.dnf:
    name: "{{ dnf_packages }}"
    state: present
  become: true

- name: Install Starship via script
  ansible.builtin.shell: curl -sS https://starship.rs/install.sh | sh -s -- -y
  args:
    creates: /usr/local/bin/starship
  become: true
