---
- name: Update DNF cache
  ansible.builtin.dnf:
    update_cache: true
  become: true
  failed_when: false

- name: Install DNF packages
  ansible.builtin.dnf:
    name: "{{ dnf_packages }}"
    state: present
  become: true

- name: Check if Starship is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/starship
  register: starship_bin

- name: Install Starship via script
  ansible.builtin.shell: curl -sS https://starship.rs/install.sh | sh -s -- -y
  args:
    creates: /usr/local/bin/starship
  become: true
  when: not starship_bin.stat.exists
