---
- name: Computer Setup Automation
  hosts: local
  gather_facts: true

  tasks:
    - name: Include OS-specific playbook
      include_tasks: "{{ ansible_facts['os_family'] | lower }}.yml"
      when: ansible_facts['os_family'] in ['Darwin', 'RedHat']

    - name: Fail if unsupported OS
      fail:
        msg: "Unsupported OS: {{ ansible_facts['os_family'] }}"
      when: ansible_facts['os_family'] not in ['Darwin', 'RedHat']
